{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<h1>Trang chu</h1>
<div class="container text-center border">
    <form>
        <div>
            <input class="form-check-input" type="radio" name="roundtrip" id="roundtrip" checked>
            <label class="form-check-label" for="roundtrip">Khứ Hồi</label>
            <input class="form-check-input" type="radio" name="roundtrip" id="oneway">
            <label class="form-check-label" for="oneway">Một Chiều</label>
        </div>
        <div class="container text-center">
            <div class="row align-items-start">
                <div class="col">
                    <label>Điểm đi:</label>
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        {% for i in SB %}
                        <option>{{ i.tinh }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label>Ngày đi:</label>
                </div>
                <div class="col">
                    <input type="date" class="form-control" name="leavedate">
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <label>Điểm đến:</label>
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example">
                        {% for i in SB %}
                        <option>{{ i.tinh }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label>ngày về:</label>
                </div>
                <div class="col">
                    <input type="date" class="form-control" name="returndate">
                </div>
            </div>
            <div class="row align-items-start">
                <div class="col">
                    <label>Số lượng hành khách</label>
                </div>
                <div class="col">
                    <input type="number" value="1" min="1" max="10" step="1">
                </div>
                <div class="col">
                    <label>Hạng vé:</label>
                </div>
                <div class="col">
                    <select class="form-select" aria-label="Default select example">

                        {% for i in HV %}
                        <Option>{{ i.ten }}</Option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <a class="btn btn-success" onclick="search_flight()">Tra Cứu</a>
    </form>
</div>

{% endblock %}